.FaceImage{
    height: 5px;
}

.checkboxShop{
          height: 15px;
          margin: 0;
          position: relative;
          top: 1px;
          width: 17px;
  place-content: center;
}

.footerImages{
  display: flex;
  margin-left: 2rem;
  
}

.shopappSign{
  width: 6rem;
  height: 3rem;
  margin-right: 3rem;
}